h1 {
  background: linear-gradient(to bottom, #0033cc 9%, white 50%, #cc0000 100%);
  font-size: 2em;
  text-align: center;
 
   }
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background: linear-gradient(to bottom, #0033cc 12%, white 40%, #cc0000 100%);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
.poketext {
    display: flex;
    font-size: 1.5em;
    background-color:gold;
    border-radius: 5px;
    padding: 10px;


}
.input-button {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
    margin-left: 40px;
}

#search-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#search-button {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #7f21ab;
    color: white;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}


#search-button:hover {
    background-color: #5a157a;
}
#types {
    display: flex;
    flex-wrap: wrap;
    padding: 20px; 
    gap: 10px;
    
}


.type-fire { background-color: red; }
.type-water { background-color: blue; }
.type-grass { background-color: green;   }
.type-electric { background-color: yellow; }
.type-ice { background-color: lightblue; }
.type-fighting { background-color: brown; }
.type-poison { background-color: purple; }
.type-ground { background-color: sandybrown; }
.type-flying { background-color: skyblue; }
.type-psychic { background-color: pink; }
.type-bug { background-color: olive; }
.type-rock { background-color: gray; }
.type-ghost { background-color: darkslateblue; }
.type-dragon { background-color: darkblue; }
.type-dark { background-color: black; color: white; }
.type-steel { background-color: silver; }
.type-fairy { background-color: lightpink; }

.ptf-pdf {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
}

.ptf, .pdf {
    background: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}


#poke-pic {
    width: 250px; /* feste Breite */
    height: 250px; /* feste Höhe */
    display: flex;
    justify-content: center;
    align-items: center;
    border: none; /* Entfernt den Rand */
    outline: none; /* Entfernt den äußeren Rand */
    margin: 0 auto; 

}



table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #6495a7;
    color: white;
}
